<configuration>
    <!-- 日志路径 -->
    <springProperty scope="context" name="LOG_ROOT_LEVEL" source="logback.root_level"/>
    <springProperty scope="context" name="LOG_CUSTOM_LEVEL" source="logback.custom_level"/>
    <springProperty scope="context" name="SERVICE-NAME" source="spring.application.name"/>
    <springProperty scope="context" name="LOG_HOME" source="logback.path"/>
    <springProperty scope="context" name="LOG_CUSTOM_PATH" source="logback.custom_path"/>

    <!-- 控制台日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d-[%thread] %-5level - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- 按照每天生成常规日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${SERVICE-NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/${SERVICE-NAME}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>3</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--TRACE DEBUG INFO WARN ERROR ALL OFF-->
    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="${LOG_CUSTOM_PATH}" level="${LOG_CUSTOM_LEVEL}" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
